# Supabase Keys
DB_PASSWORD=
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_ID=

VITE_APP_DOMAIN=
VITE_PUBLIC_MENU_DOMAIN=https://menunook.com

# Google Keys
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
