# Supabase Keys
DB_PASSWORD=
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_ID=

VITE_APP_DOMAIN=
VITE_PUBLIC_MENU_DOMAIN=https://menunook.com

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_STORE_ENTITLEMENT_PRICE_ID=

# Google Keys
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Upstash Redis Keys
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
